# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
graphene>=3.0.0
starlette-graphene3
uvicorn